In [97]:
# import pandas

import pandas as pd

In [98]:
# Read in the dataset

hotel_bookings = pd.read_csv('hotel_bookings.csv')

In [99]:
# First look at the dataset

hotel_bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [100]:
# Drop/rename columns

hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [ ]:
# Insert the column you want dropped

# hotel_bookings.drop(columns=[''], inplace=True)
# Rename the columns (give the column a dictionary, then new name you want)
hotel_bookings.rename({'adults': 'num_adults', 'children': 'num_children', 'babies': 'num_babies'}, axis=1, inplace=True) 
# # 1. The inplace=True argument in Pandas methods modifies the DataFrame or Series directly, without returning a new object. This means the original object is updated in place, and you do not need to reassign the result to a variable. 
# # 2. In pandas, axis=1 refers to the columns of a DataFrame or Series. When an operation is performed with axis=1, it means the operation will be applied row-wise, across the columns.
# # A Pandas Series is a one-dimensional labeled array in the Pandas library for Python. It is capable of holding any data type, including integers, strings, floating-point numbers, and Python objects. 
hotel_bookings.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [102]:
# NaNs

hotel_bookings.isnull().sum() * 100 / len(hotel_bookings) 
# The isnull() function in Pandas is used to detect missing or null values within a Series or DataFrame. It returns a boolean Series or DataFrame of the same shape as the original, where True indicates the presence of a missing value (such as NaN for numeric data, None for object data, or NaT for datetime-like data), and False indicates a non-missing value.

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
num_adults                         0.000000
num_children                       0.003350
num_babies                         0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [103]:
hotel_bookings['agent'].unique() # In the context of the pandas library in Python, "unique" refers to the distinct values within a Series (a single column of a DataFrame) or an Index.
hotel_bookings[hotel_bookings['agent'] == 5]

hotel_bookings['agent'].fillna(-1, inplace=True)

hotel_bookings[hotel_bookings['num_children'].isna()] # "NA" means "not available" - the .isna() method is used to detect missing values in a dataframe or series 

hotel_bookings[hotel_bookings['country'].isna()] [['hotel', 'is_canceled', 'country']]

hotel_bookings['country'].fillna('Unknown', inplace=True)

hotel_bookings.dropna(subset=['num_children'], inplace=True)

C:\Users\Kyle\AppData\Local\Temp\ipykernel_28844\1922755887.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hotel_bookings['agent'].fillna(-1, inplace=True)
C:\Users\Kyle\AppData\Local\Temp\ipykernel_28844\1922755887.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hotel_bookings['country'].fillna('Unknown', inplace=True)

In [104]:
hotel_bookings.drop(columns=['company'], inplace=True)

In [105]:
# Check column data types

hotel_bookings.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                      float64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [106]:
hotel_bookings = hotel_bookings.astype({'is_canceled': 'boolean', 'is_repeated_guest': 'boolean', 'num_children': 'int', 'agent': 'int'}) # Changed first two to boolean and last two to integers 
# The astype() function in Pandas is used to cast a Pandas object (like a DataFrame or Series) to a specified data type (dtype). This method is fundamental for data cleaning and preparation, ensuring that columns have the correct data types for subsequent analysis or operations. 
hotel_bookings.dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                        int64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [107]:
# Bin columns # Creating "bins" in pandas refers to the process of discretizing or categorizing continuous numerical data into discrete intervals or groups. This technique is also known as binning or bucketing.
hotel_bookings['lead_time'].unique() # In a data context using the pandas library, "lead time" refers to the time elapsed between two defined events or timestamps recorded in your dataset. It is not a built-in function but a concept you calculate by taking the difference between two datetime columns. 
# This is a common operation in time-series analysis for inventory management, project tracking, and other time-based workflows.
hotel_bookings['lead_time'].describe() # The .describe() function in the pandas library for Python is used to generate descriptive statistics of a DataFrame or a Series. It provides a quick summary of the central tendency, dispersion, and shape of a dataset's distribution, excluding NaN (Not a Number) values.

bins = [0, 100, 200, 300, 400, 500, 600, 700, 800] # The pd.cut function in the pandas library is used to bin values into discrete intervals. It is primarily used to convert a continuous numerical variable into a categorical one by segmenting and sorting data values into specified bins.
labels = ['0-100', '101-200', '201-300', '301-400', '401-500', '501-600', '601-700', '701-800'] # here the pd.cut looks at the lead time value and will assign it one of the labels based on which bin it falls under 
# In Pandas, "labels" refer to the named identifiers used to access and organize data within Series and DataFrames. These labels are crucial for label-based indexing, data alignment, and providing metadata about the data. 
# The values on above line are the bins (eg. '101-200')

hotel_bookings['lead_time_binned'] = pd.cut(hotel_bookings['lead_time'], bins=bins, labels=labels) # breakdown of actions = pd.cut(specify the column to cut) |hotel_bookings['lead_time']|, (specify bins) |bins=bins| (specify labels) |labels=labels|

hotel_bookings[['lead_time', 'lead_time_binned']]

        lead_time lead_time_binned
0             342          301-400
1             737          701-800
2               7            0-100
3              13            0-100
4              14            0-100
...           ...              ...
119385         23            0-100
119386        102          101-200
119387         34            0-100
119388        109          101-200
119389        205          201-300

[119386 rows x 2 columns]

In [108]:
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,2015,July,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel,False,737,2015,July,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,2015,July,27,1,0,1,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,2015,July,27,1,0,1,1,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,2015,July,27,1,0,2,2,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100

In [109]:
# # Separate columns          # # Here we will splitting up arrival date into one column for month and one column for year

# hotel_bookings['arrival_date_month'] = hotel_bookings['arrival_date'].str.split('-', expand=True)[0] 
# # The .str.split() function in Pandas is a method available on Series objects containing string data. It is used to split strings within a Series into separate components based on a specified delimiter or pattern. 
# # First argument split here is the delimiter (hypen ('-')) # In Pandas, the expanding() method provides expanding window calculations on Series or DataFrames. This means that for each point in the data, the calculation is performed using all data points from the beginning of the series/DataFrame up to that current point. 
# # Expanding method tells split function to return each portion of split string as its own column in a new dataframe # The [0] is for the first index which is the month
# hotel_bookings['arrival_date_year'] = hotel_bookings['arrival_date'].str.split('-', expand=True)[1] # The [1] is the second index
# hotel_bookings.head()
# above line would work if the dataframe had an 'arrival_date' column

column_to_move = hotel_bookings.pop('arrival_date_month') # Move columns # In pandas, the .pop() method is used on a DataFrame to remove a specified column and return it as a Series. This method directly modifies the original DataFrame by removing the column in place.
hotel_bookings.insert(4, 'arrival_date_month', column_to_move) # The .insert() method in Pandas is used to add a new column to a DataFrame at a specific, user-defined position. Unlike simply assigning a new column, which appends it to the end of the DataFrame, .insert() allows for precise control over the column's placement.
hotel_bookings.head()
column_to_move = hotel_bookings.pop('arrival_date_year')
hotel_bookings.insert(5, 'arrival_date_year', column_to_move)
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_month,arrival_date_week_number,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,July,27,2015,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel,False,737,July,27,2015,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,July,27,2015,1,0,1,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,July,27,2015,1,0,1,1,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,July,27,2015,1,0,2,2,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100

In [110]:
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [111]:
# String cleaning

hotel_bookings['hotel'] = hotel_bookings['hotel'].replace(r"[\*\n\^]", '', regex=True)    # .str.contains(pattern, regex=True) → checks if text matches pattern    # .str.replace(pattern, repl, regex=True) → replaces matches with something else    # .str.extract(pattern) → extracts part of the string that matches
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [112]:
# Remove duplicates

# In pandas, .duplicated() is a method available for both Series and DataFrames that identifies duplicate values or rows. It returns a boolean Series or array of the same length as the original object, where True indicates a duplicate and False indicates a unique value/row.
# 'keep' - the concept of "keep" generally refers to retaining specific data elements within a DataFrame or Series, often in the context of filtering or removing duplicates.
# 'keep' - whether or not you want to count the first or last occurence of a duplicated row as the duplicated row
# if you set 'keep' to first it will return that the first instance of a row is not a duplicate, but every other time you see it, it will be marked as True
# if you set 'keep' to False where each instance of the duplicated row is treated as a duplicated row and this function returns True for that row
# 'keep' is a function in '.duplicated()'

hotel_bookings.loc[hotel_bookings.duplicated(keep=False)]

# don't need to keep both rows, just the first instance of each row and drop the rest of them, so below line is used
hotel_bookings.drop_duplicates(keep="first", inplace=True) 
# takes a subset parameter where you can look for duplicates just within certain columns
# if you don't specify this it will drop duplicates where the values for all of the columns are the same and that is what we want to do here

In [113]:
hotel_bookings.loc[hotel_bookings.duplicated(keep=False)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_month, arrival_date_week_number, arrival_date_year, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, num_adults, num_children, num_babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, lead_time_binned]
Index: []

[0 rows x 32 columns]